
body{
    margin: 0;
    padding: 0;
}

.header{
    position: absolute;
    height: 50px;
    width: 100%;
    background-color: #ff4500;
    z-index: 6;
}

.side-bar{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #06BCFB;
    z-index: 5;
    padding-top: 50px;
}
.main-content{
    padding-top: 50px;
    background-attachment: fixed;
}
.side-bar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-bar ul li{
    padding: 20px 10px;
    border-bottom: 1px solid #fff;
}

.side-bar ul li a{
    color: #ffffff;
    text-decoration: none;
}
.image{
    border-radius: 50%;
    width: 50px;
}

.container-fluid{
    padding-top: 10px;
}

.col-lg-3{
    padding-top: 10px;
}

/* small devices (landscape phones ,576px and up */

@media screen and (min-width:576px) {

    .side-bar{
        width: 50px;
    }

    .side-bar ul li{
        text-align: center;
    }
    .side-bar ul li span:nth-child(2){
        display: none;
    }
    .side-bar ul li i{
        font-size: 30px;
    }
    .main-content{
        margin-left: 50px;
    }
}
/* Extra small devices(potrait phones) */

@media (max-width:575.98px){
    .side-bar{
        width:50px;
    }

    .side-bar ul li span:nth-child(2){
        display: none;
    }

    .side-bar ul li{
        text-align: left;
    }

    .side-bar ul li i{
        font-size: 20px;
    }

    .main-content{
        margin-left: 50px;
    }
}

/* Tablet mode  */

@media (min-width:768px) {
    .side-bar{
        width: 100px;
    }

    .side-bar ul li span:nth-child(2){
        display: none;
    }

    .side-bar ul li{
        text-align: center;
    }

    .side-bar ul li i{
        font-size: 30px;
    }

    .main-content{
        margin-left: 100px;
    }
}

/* Large devices */
@media (min-width:992px) {
    .side-bar{
        width:200px;
    }

    .side-bar ul li{
        text-align: left;
    }

    .side-bar ul li span:nth-child(2){
        display: inline;
    }

    .side-bar ul li i{
        font-size: 20px;
    }

    .main-content{
        margin-left: 200px;
    }
}

/* Extra large devices */
@media (min-width:1200px) {
    .side-bar{
        width: 200px;
    }

    .side-bar ul li{
        text-align: left;
    }

    .side-bar ul li span:nth-child(2){
        display: inline;
    }

    .side-bar ul li i{
        font-size: 20px;
    }

    .main-content{
        margin-left: 200px;
    }
}

/* register styling */

.register-header{
    width: 100%;
    background-color: #ff4500;
    text-align: center;
    font-weight: 500;
}

.logo
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 20px;
    
}

.logo img{
    border-radius: 50%;
    width: 100px;
    
}

.container  {
    height: 60vh;
    border-radius: 20px;
    padding-top: 20px;
}


/* lof in styling */

.login-header{
    width: 100%;
    background-color: #ff4500;
    text-align: center;
    font-weight: 500;
}

.container{
    height: 50vh !important;
}